body {
        /* Here i changed the background colour as well as the position for everything displayed on the website. */
    background-color: rgb(45, 49, 50);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Here I edited the different "h" tags: */

h1 {
    color:rgb(239, 239, 239);
    font-family:Arial, Helvetica, sans-serif;
    align-items: center;
    text-align: center;
}

h2 {
    color:rgb(239, 239, 239);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-items: center;
    text-align: center;
}

h3 {
    color:rgb(239, 239, 239);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-items: center;
    text-align: center;
}

/* Here I edited the lists displayed on the courses section. */

li {
    color:rgb(0, 0, 0);
    margin: 10px;
    background-color: rgb(239, 239, 239);
    border: 2px;
    padding: 10px;
    border-style: solid;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
}

ul {
    background-color: rgb(227, 227, 227);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-inline: 20px;
    display: flex;
    flex-direction: column;  
    border-style: solid;
    border-radius: 15px;
    border-color: rgb(255, 255, 255);
}

ol {
    background-color: rgb(227, 227, 227);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-inline: 20px;
    display: flex;
    flex-direction: column;  
    border-style: solid;
    border-radius: 15px;
    border-color: rgb(255, 255, 255);
}


nav {
        /* Here i modified the strip that contains the different categories. */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 45% 5px 45%;
    background-color: rgb(227, 227, 227);

}

a {
        /* Here i modified the category buttons that take you to the different sections. */
    width: max-content;
    padding: 5px 10px 5px 10px;
    background-color: rgb(255, 255, 255);
    border: 2px;
    border-radius: 10px;
    text-align: center;
    margin: 5px;
}

.ag-logo {
    padding: 80;
    background-color: rgb(255, 255, 255);
    border: 50px;
    border-radius: 50%;
    margin: 30px;
}

.ag-logo-text {
    background-color: rgb(255, 255, 255);
    padding: 5px;
    margin: 30px;
    border: 2px;
    border-radius: 30px;
    border-color: white;
    border-style: solid;
}

.face {
    padding: 5px;
    background-color: rgb(255, 255, 255);
    border: 15px;
    border-radius: 10%;
    border-color: white;
}

.pressed {
        /* Here i made the bubbles correlating to the category you're viewing displayed as pressed. */
    width: max-content;
    padding: 5px 10px 5px 10px;
    background-color: rgb(214, 214, 214);
    border: 2px;
    border-radius: 10px;
    text-align: center;
    margin: 5px;
}

/* Most of these classes serve the same purpose, but I decided to make unique ones for the sake of organization and my sanity. */

.cats {
    padding: 5;
    margin: 10px;
    border: 2px;
    border-radius: 10%;
    border-color: black;
    border-style: solid;
}

.albums {
    padding: 5;
    margin: 10px;
    border: 2px;
    border-radius: 10%;
    border-color: black;
    border-style: solid;
}

.movies-shows-games {
    padding: 5;
    margin: 10px;
    border: 2px;
    border-radius: 10%;
    border-color: black;
    border-style: solid;
}

.me-text {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 2px;
    border-color:rgb(239, 239, 239);
    padding: 20px;
    border-style: solid;
    border-radius: 15px;
    margin: 30px;
}

.music-text {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 2px;
    border-color:rgb(239, 239, 239);
    padding: 20px;
    border-style: solid;
    border-radius: 15px;
    margin: 40px;
    text-align: center;
}

.documentation-text {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 2px;
    border-color:rgb(239, 239, 239);
    padding: 20px;
    border-style: solid;
    border-radius: 15px;
}

.cat-text {
    color:rgb(0, 0, 0);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
    align-items: center;
    text-align: center;
}

.interests-text {
    color:rgb(0, 0, 0);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-items: center;
    text-align: center;
}

.courses-info {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 2px;
    border-color:rgb(239, 239, 239);
    padding: 20px;
    border-style: solid;
    border-radius: 15px;
}

.courses-documentation-subheading {
    margin: 20px;
}

.welcome-text {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 2px;
    border-color:rgb(239, 239, 239);
    padding: 20px;
    border-style: solid;
    border-radius: 15px;
    margin: 30px;
}